#tabuleiro{
    width: 600px;
    height: 600px;
    border: 1px #000 solid;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    margin: 0 auto;
}

.casa{
    width: 200px;
    height: 200px;
    border: 1px white solid;
    background-color: aliceblue;
}